<div class="title-section">
    <h1>Login to account</h1>
    <span>Welcome ! Please enter your credentials or create an account to access TopSeries</span>
</div>
<button class="social-button" mat-stroked-button>
    <mat-icon svgIcon="google"></mat-icon>
    Login with Google
</button>
<div class="separator">
    <div class="bar"></div>
    <span>or</span>
    <div class="bar"></div>
</div>
<form>
    <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ex. you@gmail.com">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput>
    </mat-form-field>
    <button color="primary" mat-raised-button>Login</button>
</form>